@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.darken-image {
  filter: brightness(90%); /* 이미지 밝기 조절 */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
