@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.darken-image {
  filter: brightness(90%); /* 이미지 밝기 조절 */
}
.thedarken-image {
  filter: brightness(80%); /* 이미지 밝기 조절 */
}

/* 커스텀 호버 스타일 */
.btn-custom:hover {
  background-color: red;
  color: white;
}
#Menu_carousel Button {
  display: none;
}
#Grid_div {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr); /* 4개의 열을 1:1 비율로 배치합니다. */
  grid-template-areas:
    "a a b c"
    "a a d d"
    "e f d d";
  grid-gap: 0px; /* 그리드 간격을 설정합니다. */
}

#Grid_div .divs {
  /* 배경색을 설정합니다. */
  padding: 10px;
  text-align: center;
}

/* 각각의 아이템에 대한 스타일을 지정합니다. */
#Grid_div img:nth-of-type(1) {
  border-radius: 20px 20px 0px 0;
}
#Grid_div .divs:nth-child(1) {
  grid-area: a;
}
#Grid_div .divs:nth-child(2) {
  grid-area: e;
}
#Grid_div .divs:nth-child(3) {
  grid-area: f;
}
#Grid_div .divs:nth-child(4) {
  grid-area: d;
}
#Grid_div .divs:nth-child(5) {
  grid-area: b;
}
#Grid_div .divs:nth-child(6) {
  grid-area: c;
}

.text-1 {
  background-color: #ebc595;
  height: 140px;
  display: flex;
  padding: 20px;
  border-radius: 0 0 20px 10px;
}
.text-2 {
  text-align: start;
  display: flex;
  padding: 20px;
}
.text-3 {
  text-align: start;
  display: flex;
  padding: 20px;
}
.text-4 {
  background-color: #dbcabb;
  height: 140px;
  display: flex;
  padding: 20px;
  border-radius: 0 0 20px 10px;
}
.text-5 {
  display: flex;
  text-align: start;
  padding: 20px;
}
.text-6 {
  text-align: start;
  display: flex;
  padding: 20px;
}
.text-1 div {
  font-size: 30px;
}
.text-4 div {
  font-size: 30px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
